upload profile pic

upload other pics

skip option

<div class="form-group">
      <%= f.label :avatar %>
      <%= f.file_field :avatar, class: "form-control" %>
      <%= f.hidden_field :avatar_cache, class: "form-control" %>
</div>
