<!-- Header -->
<div class="container">
  <div class="intro-header">
    <div class="row">
      <div id="login-btn" class="col-md-2 col-md-offset-10">
        <%= link_to login_path do %>
        <div class="btn btn-default btn-lg">
          Log In
        </div>
        <% end %>
      </div>


      <div id="signup-btn" class="col-md-2 col-md-offset-5">
        <%= link_to signup_path do %>
        <div class="btn btn-default btn-lg">
          Sign Up
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- /.container -->



  <!-- Services Section -->
  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Signing Up Only Takes 2 Minutes</h2>
          <h3 class="section-subheading text-muted">We take the awkwardness out of making friends! </h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-search fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Find Couples</h4>
          <p class="text-muted">awesome</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Message Couples</h4>
          <p class="text-muted">awesome</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Make Friends!</h4>
          <p class="text-muted">awesome</p>
        </div>
      </div>
    </div>
  </section>
</div>
